@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body {
  color: #373737;
  background-image: url("/Users/avanthiarjun212/Google Drive/Test Portfolio/img/background.png");
  background-size: cover;
  font-family: 'Walter Turncoat', cursive;
  padding: 3px;
}

.brand h1 {
  font-size: 60px;
}

header nav {
  display: flex;
  background-color: transparent !important;
  border: 0 !important;
  white-space: nowrap;
}

header a {
  font-size: 20px;;
  color: #373737;
  white-space: nowrap;
  font-weight: bold;
}

header button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.nav>li>button>a:focus, .nav>li>button>a:hover {
  text-decoration: none;
  color: #E37222;
  background-color: transparent !important;
}

.navbar-nav > li{
  padding-left:1.5vw;
  padding-right:1.5vw;
}

.profilepic img{
  height: 200px;
  width: 200px;
  border-radius: 30%;
}

.aboutme p {
  font-size: 20px;
}

.aboutme a {
  padding-left: 25px;
  padding-right: 25px;
  color: #373737;
  position: relative;
  top: 15px;
}

.aboutme>p>a:focus, .aboutme>p>a:hover {
  text-decoration: none;
  color: #E37222;
  background-color: transparent !important;
}

#socialicons i{
  font-size: 30px;
  color: #373737;
}

#socialicons a {
  padding: 0 15px;
}

#socialicons>p>a>i:focus, #socialicons>p>a>i:hover {
  text-decoration: none;
    color: #E37222;
  background-color: transparent !important;
}


.knowmore a {
  position: relative;
  top: 15px;
  font-size: 35px;
  padding: 0;
  color: #1E90FF;
}

.knowmore>button>a:focus, .knowmore>button>a:hover {
  text-decoration: none;
    color: #E37222;
  background-color: transparent !important;
}

.knowmore button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.copyright p{
  font-size: 15px;
  position: relative;
  top: 10px;
}

hr {
  border: 0.5px solid #373737;
  position: relative;
  bottom: 30px;
  width: 50%
}

.container {
  position: relative;
  bottom: 25px;
}
