body {
  color: #373737;
  font-size: 20px;
}
.brand>h1>a {
  font-size: 70px;
}

.brand>h1>a>:focus, .brand>h1>a:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

.brand>h3 {
  position: relative;
  bottom: 10px;
}

header nav {
  display: flex;
  white-space: nowrap;
  background-color: transparent !important;
  border: 0 !important;
}

 a {
  font-size: 25px;
  color: #373737;
  white-space: nowrap;
  font-weight: bold;
  max-width: 100%
}


header button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.nav>li>button>a:focus, .nav>li>button>a:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

.navbar-nav > li{
  padding-left:1.5vw;
  padding-right:1.5vw;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.aboutme {
  position: relative;
  bottom: 10px;
}
.aboutme a {
  font-size: 20px;
}
.aboutme>h4>a:focus, .aboutme>h4>a:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  background-color: transparent !important;
  border: 0 !important;
}


.sidenav>p>a:focus, .sidenav>p>a:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

.sidenav>a>i:focus, .sidenav>a>i:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.aboutme h4 {
  font-size: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 768px) {
  .brand>h1>a {
    font-size: 40px;
  }

  .aboutme h4 {
    font-size: 15px;
  }

  .nav {
    overflow: hidden;
    max-width: 120%;
  }

  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}

}

.profilepic img{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  padding-top: 10px;
}
