body {
  color: #373737;
  font-size: 20px;
}
.brand>h1>a {
  font-size: 70px;
}

h2 {
  color: #1E90FF;
  font-size: 40px;
}

a:focus,a:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

.brand>h3 {
  position: relative;
  bottom: 10px;
  color: #1E90FF;
}

header nav {
  display: flex;
  white-space: nowrap;
  background-color: transparent !important;
  border: 0 !important;
}

 a {
  font-size: 25px;
  color: #373737;
  white-space: nowrap;
  font-weight: bold;
  max-width: 100%
}


header button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.nav>li>button>a:focus, .nav>li>button>a:hover {
  text-decoration: none;
  color: #D9B310;
  background-color: transparent !important;
}

.navbar-nav > li{
  padding-left:1.5vw;
  padding-right:1.5vw;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}

.aboutme {
  position: relative;
  bottom: 10px;
}
.aboutme a {
  font-size: 20px;
}

.profilepic img{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  padding-top: 10px;
}

.feature img {
  width: 100%;
  padding-bottom: 10px;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  background-color: transparent !important;
  border: 0 !important;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.aboutme h4 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .brand>h1>a {
    font-size: 40px;
  }
  
  a { 
    font-size: 20px;
  }

  .aboutme h4 {
    font-size: 15px;
  }

  .nav {
    overflow: hidden;
    max-width: 120%;
  }

  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}

}
