@import url('https://fonts.googleapis.com/css?family=Play');

.pagebody {
  background-color: #25242C;
  font-family: 'Play';
}
header h1, p, nav, a {
  display: inline;
  position: relative;
  top: 20px;
  color: white;
}

header h1{
  font-size: 50px;
}

header p {
  color: white;
  font-size: 20px;
}

header a {
  color: 	#D9411E;
  font-size: 20px;
}

header nav {
  position: relative;
  top: 11px;
}

footer p{
  font-size: 15px;
  color: 	#1E90FF;
  position: relative;
  top: 10px;
}

#profilepic {
  height: 160px;
  width: 160px;
  border-radius: 20%;
  border: 1px solid #D9411E;
  position: relative;
  top: 20px;
}


#colorbox {
  text-align: center;
  position: relative;
  bottom: 30px;
}

#colorbox p{
  color: white;
  font-size: 23px;
  line-height: 30px;
  display: block;
  padding: 0.75em 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #324f5c;
  border-bottom: 1px solid #324f5c;
  position: relative;
  bottom: 20px;
}

#hello {
  color: #D9411E;
  font-size: 25px;
  position: relative;
  top: 10px;
}

#aboutme {
  color: #D9411E;
  font-size: 25px;
  position: relative;
  top: 22px;
}

#colorbox h3{
  font-size: 25px;
  text-align: center;
  color: #D9411E;
  position: relative;
  bottom: 30px;
}

#colorbox li{
  font-size: 20px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 20px;
  line-height: 50px;
}

.jumbotron {
  background-color: #32313B !important;
  position: relative;
  top: 20px;
}

center h2{
  color: white;
}
.whatido {
  display: inline-block;
}
.whatido  a img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 10px;
  display:block;
}

.whatido h2 {
  color: #D9411E;
  font-size: 25px;
  position: relative;
  top: 10px;
}
.whatido h4 {
  color: white;
  font-size: 15px;
  position: relative;
  top: 20px;
}
.whatido a {
  font-size: 20px;
  position: relative;
  top: 0px;
  display: inline-block;
  color: #D9411E;
}

.whatido span {
  position: relative;
  top: 10px;
  color: white;
}

.whatido button {
  position: relative;
  top: 40px;
  color: #D9411E;
  font-size: 10px;
}
